<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista Telefones</title>
    <style>
        table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
    {% if telefone_list_return %}
        <table>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        {% for telefone in telefone_list_return %}
            <tr>
                <td>{{  telefone.cliente.nome }}</td>
                <td>{{  telefone.telefone }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</body>
</html>